*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    scroll-behavior: auto;

    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #3183FF;

}
header{
    background-color: #F9FBFD;
}
header section.menu{
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    max-width: 1193px;
    margin: auto;
    justify-content: space-evenly;
    padding: 20px;    
}

header section.menu div{
    display: flex;
    gap: 14px;
    
}
header section.menu ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

header section.menu button{
    background-color: #02073E;
    color: white;
    width: 146px;
    font-size: 16px;
    border-radius: 5px;
    height: 35px;
}
header div.layer{
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;   
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0.5px 0.5px 1px rgb(180, 180, 180);
}
header p.titleP{
    font-size: 64px;
    text-align: center;
    max-width: 750px;
    margin: auto;
}
header section.mockup{

}
header section.mockup div.retEffect{
    max-width: 1000px;
    margin: auto;
    border: #E2E9F0 solid 2px;
    border-radius:30px 30px 0 0;
    padding: 20px 0 0 0;
    border-bottom: none;
    display: flex;
    justify-content: center;
}
header section.mockup div.retEffect img{
    border: #E2E9F0 solid 2px;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
    max-width: 95%;
}




section#features{

}

section#features h1{
    text-align: center;
    font-size: 30px;
}
section#features p.subtitle{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 18px;
}
section#features section{
    max-width: 1193px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
section#features section section{
    width: 383px;
    display: flex;
}
section#features section section img{
    margin-right: 20px;
    height: 88px;
}
section#features section section div{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
section#features section section div h1{
    font-size: 18px;
}
section#features section section div p{
    line-height: 25px;
    color: #343D48;
}
section#features section section div a{
    margin: 10px 0 60px 0;
}




section#tab-features{
    max-width: 1447px;
    display: flex;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap
}
section#tab-features img{
    margin: 6px 15px 15px 15px;
    max-width: 100%;
}
section#tab-features div{
    margin:6px 0 20px 0;
    width: 400px;

}
section#tab-features div p.init{
    color: #8D448B;
    font-size: 18px;
    margin: 10px 0 10px 0;
}
section#tab-features div h1{
    font-size: 44px;
}
section#tab-features div section{
    width: 371px;
    display: flex;
    margin: 10px 0;
}
section#tab-features div section img{
    height: 60px;
    margin: 15px 20px 0 0 ;
}
section#tab-features div section div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section#tab-features div section div h2{
    text-indent: 3px;
}
section#tab-features div section div p{
    font-size: 18px;
    line-height: 25px;
    color: #343D48;
}

section#companies{
    max-width: 1255px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

section#companies div{
    margin: auto;
    width: 510px;
}
section#companies div p.init{
    color: #8D448B;
    font-size: 18px;
    margin: 10px 0 10px 0;
}
section#companies div h1{
    font-size: 44px;
}
section#companies div p.text{
    font-size: 18px;
    line-height: 35px;
    color: #343D48;
    margin: 20px 0 20px 0;
    width: 454px;
}
section#companies div button{
    background-color: #02073E;
    color: white;
    width: 135px;
    font-size: 16px;
    border-radius: 5px;
    padding: 6px 0 6px 0;
}
section#companies img{
    width: 700px;
    margin: auto;
}


section#slide-features{
    max-width: 1993px;
    margin: auto;
}
section#slide-features h1{
    text-align: center;
    font-size: 30px;
}
section#slide-features p.subtitle{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 18px;
}
section#slide-features ul{
    margin: auto;
    max-width: 1095px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: #a7a9aa solid 1px;
}
section#slide-features ul li{
    padding: 30px;
    gap: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
section#slide-features ul li img{
    height: 30px;
}
section#slide-features ul li:hover{
    font-size: 17.6px;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: black solid 3px;
}
section#slide-features div.imgs{
    position: relative;
}
section#slide-features div.imgs img.imgp{
    display: block;
    margin: auto;
    max-width: 100%;
}
section#slide-features div.imgs img.imgs{
  position: absolute;
  top: 23%;
  right: 13%;
}











section#pricing-plan{

}

section#pricing-plan h1{
    text-align: center;
    font-size: 30px;
}
section#pricing-plan p.subtitle{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 18px;
}
section#pricing-plan div.temp{
    margin: auto;
    width: 302px;
    background-color: #F8F8FA;
    border: #E8E9EB solid 1px;
    display: flex;   
}
section#pricing-plan div.temp button{
    width: 138px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: none;
}
section#pricing-plan div.temp button.selc{
    box-shadow: 0px 0.5px 0px rgb(180, 180, 180);
    background-color: white;
}


section#pricing-plan section{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    max-width: 990px;
    margin: auto;
    gap: 30px;
}
section#pricing-plan section div.types{
    position: relative;
    border: #E0E2E4 solid 1px;
    border-radius: 10px;
    width: 400px;
    
}
section#pricing-plan section div.types label{
    position: absolute;
    top: -15px;
    left: 50px;
    color: white;
    font-weight: bold;
    background-color: #8D448B;
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 14px;
}
section#pricing-plan section div img.icon{
    
    margin: 13% 10% 7% 10%;
}
section#pricing-plan section div h2{
    margin: 0 10%;
    font-size: 22px;
}
section#pricing-plan section div ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:10%;
}
section#pricing-plan section div ul li{
    display: flex;
    gap: 15px;
    line-height: 25px;
    align-items: center;
}
section#pricing-plan section div ul li img{
    width: 20px;
    height: 20px;
}
section#pricing-plan section div div.button{
    background-color: #F8F8FA;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 55px;
}
section#pricing-plan section div div.button p.price{
    color: #8D448B;
    font-size: 26px;
    font-weight: bold;
}
section#pricing-plan section div div.button img{
    width: 20px;
    height: 17px;
}




section#all-comments{
    background-color: #F4F4F6;
}
section#all-comments h2{
    text-align: center;
    font-size: 30px;
    flex-wrap: wrap;
}
section#all-comments p.subtitle{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 16px;
}
section#all-comments section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

section#all-comments section div section.blocos{
    width: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 30px;
}
@media (max-width: 530px){
    section#all-comments section div section.blocos{
        width: 380px;
    }
}
section#all-comments section div section.blocos p{
    font-size: 18px;
    line-height: 30px;
    color: #343D48;
    width: 404px;
    
}

section#all-comments section div section.blocos div.dados{
    display: flex;
    gap: 10px;
    align-items: center;
}

section#blog h2.title{
    text-align: center;
    font-size: 30px;
}
section#blog p.subtitle{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 16px;
}
section#blog section.blogf{
    width: 375px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
section#blog  section.blogf h1{
    font-size: 18px;
}
section#blog section.blogf p{
    line-height: 25px;
    color: #343D48;
}
section#blog main section.blogf a{
    margin: 10px 0 60px 0;
}
section#blog main{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 35px;
}
section#blog main div{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
section#blog main div p{
    width: 375px;
}
section#blog main div section.titleg{
    background-color: #F0F0F4;
    height: 160px;
    font-size: 21px;
    padding:40px 30px 0 30px;
    line-height: 35px;
}
section#blog main div article{
    position: relative;
}
section#blog main div article p{
    position: absolute;
    bottom: 15px;
    font-size: 20px;
    color: white;
    margin: 0 30px;
    width: 315px;
    line-height: 30px;
}

section#faq{
    max-width: 1193px;
    margin: auto;
}

section#faq h2.title{
    text-align: center;
    font-size: 30px;
}
section#faq p.subtitle{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 16px;
}
section#faq main{
    display: flex;

}
section#faq main{
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
section#faq main section.quest{
    width: 400px;
}
section#faq main section.quest h2{
    font-size: 26px;
    width: 363;
    line-height: 40px;
}
section#faq main section.quest p{
    font-size: 18px;
    line-height: 35px;
    color: #343D48;
    margin: 10px 0 20px 0;
    width: 363px;

}
section#faq main section.quest button{
    background-color: #02073E;
    color: white;
    width: 135px;
    font-size: 16px;
    border-radius: 5px;
    padding: 6px 0 6px 0;

}
section#faq main section.quests{
    margin-top: 11px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
section#faq main section.quests div.fat-mod{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section#faq main section.quests div.mod{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #020718;
}
footer div.geral{
    max-width: 1993px;
    margin: auto;
}
footer h1{
    text-align: center;
    font-size: 36px;
    color: white;
}
footer p.subtitle{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 16px;
}

footer section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer section div.logo{
    display: flex;
    align-items: center;
}
footer section div.logo div {
    display: flex;
    gap: 12px;
    align-items: center;
}
footer section div.logo div h2{
    color: white;
    font-size: 20px;
}
footer section div.logo p{
    margin: 12px;
    text-align: center;
    color: #858B91;
    font-size: 14px;
    margin-bottom: 20px;
}

footer section ul{
    display: flex;
    gap: 20px;
}
footer section ul li{
    color: white;
}

footer div.form{
   display: flex;
   justify-content: center;
   gap: 10px;
}
footer div.form input{
    width: 380px;
    height: 60px;
    background-color: #1b2034;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    color: white;
    padding-left: 10px;
}
footer div.form button{
    width: 160px;
    height: 60px;
    border-radius: 5px;
}
@media (max-width: 580px){
    footer div.form input{
       max-width: 380px;
       margin-left: 6px;
       height: 50px;
    }
    footer div.form button{
        height: 50px;
        margin-right: 6px;
    }
}